body {
    background-color: #343434;
}

.eraMarker {
    fill-opacity: 0.5;
}

.pageTitle {
    color: white;
    text-align: center;
}

.legendFigure {
    stroke: white;
}

.legendText {
    fill: white;

}

.eventDescription {
    position: fixed;
    color: white;
    font-size: larger;
    left: 70%;
    top: 10%;
}

.centuryMarkers {
    fill: white;
    font-size: larger;
}